nav.navbar.fixed-top.navbar-expand-sm.navbar-light.rbd-navbar.bg-white.nav-for-guest
  a.btn-sidebar-toggle
    i.flaticon-menu
  a.navbar-brand.nav-logo(href="index.html")
    img(src='img/logo2.png', alt='')
  #navbarSupportedContent.collapse.navbar-collapse
    .form-inline.search-nav
      form(action="", method="get")
        input(type="text", placeholder="البحث في الموقع... مثال: كيف تنشئ منصة عمل")
        button(type="submit")
          i.fa.fa-search
    ul.navbar-nav.mr-auto
      li.nav-item.dropdown.right-nav-item
        a.nav-link.dropdown-toggle(href='login.php').pt-1
          i.flaticon-plus
      li.nav-item.right-nav-item
        a.btn.btn-prim.but-sm(href='#')
            | إنشاء حساب
          
span.btn-scroll-top
  i.fa.fa-angle-up