nav.navbar.fixed-top.navbar-expand-sm.navbar-light.rbd-navbar.bg-white
  a.btn-sidebar-toggle
    i.flaticon-menu
  a.navbar-brand.nav-logo
    img(src='img/logo2.png', alt='')
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.dropdown.right-nav-item
        a.nav-link(href='login.php', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
          i.flaticon-notification
        .dropdown-menu.notify-menu.notification-list
          .drop-header
            h3.drop-title 
              i.flaticon-notification 
              | الإشعارات
          .drop-content
            
            ul.menu-list-items.menu-list-notification
              li(v-for='notifItem in notif')
                a(href='#')
                  span(v-html='notifItem.profile')
                  span(v-html='notifItem.title')
                  span.noty-time(v-html='notifItem.ago')
                  span.noty-icon(v-html='notifItem.icon')
            a.see-all-link(href='#') كل الإشعارات...
      li.nav-item.dropdown.right-nav-item
        a.nav-link(href='create.php', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
          i.flaticon-user
          span
            |  عبد الحميد بومقواس
        .dropdown-menu.notify-menu.user-menu
          .drop-content
            img.trick(src='img/trick.png', alt='')
            ul.menu-list-items
              li
                a(href='#')
                  i.flaticon-user-1
                  |  الصفحة الشخصية
              li
                a(href='#')
                  i.flaticon-settings
                  |  الإعدادات
              li
                a(href='#')
                  i.flaticon-logout
                  |  تسجيل الخروج
span.btn-scroll-top
  i.fa.fa-angle-up