nav.navbar.fixed-top.navbar-expand-sm.navbar-light.rbd-navbar.bg-white
  a.btn-sidebar-toggle.ml-auto
    i.flaticon-menu
  a.mobile-link.ml-auto(href="index.html")
    i.flaticon-notification
  a.mobile-link.ml-auto(href="index.html")
    i.fa.fa-search
  a.mobile-link.ml-auto(href="index.html")
    i.flaticon-user
  a.navbar-brand.nav-logo(href="index.html")
    img(src='img/logo2.png', alt='')

  #navbarSupportedContent.collapse.navbar-collapse
    .form-inline.search-nav.is-searching
      form(action="", method="get")
        input(type="text", placeholder="البحث في الموقع... مثال: كيف تنشئ منصة عمل")
        button(type="submit")
          i.fa.fa-search
      .search-results
        .search-results-inner
          nav.navbar.mb-2
            ul#pills-tab.nav(role='tablist')
              li.nav-item(role='presentation')
                a#pills-home-tab.nav-link.active(data-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') الأسئلة
              li.nav-item(role='presentation')
                a#pills-profile-tab.nav-link(data-toggle='pill', href='#pills-profile', role='tab', aria-controls='pills-profile', aria-selected='false') المجتمعات
              li.nav-item(role='presentation')
                a#pills-contact-tab.nav-link(data-toggle='pill', href='#pills-contact', role='tab', aria-controls='pills-contact', aria-selected='false') الأعضاء
    
            ul.nav.mr-auto
              li.nav-item
                a.nav-link(href='#') المزيد من النتائج...
          #pills-tabContent.tab-content
            #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab') 

              a.item-search(href="#")
                h3.title
                  i.fa.fa-question-circle
                  | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة
                p.meta
                  i.fa.fa-comment
                  | عدد الإجابات: 2500
              a.item-search(href="#")
                h3.title
                  i.fa.fa-question-circle
                  | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة
                p.meta
                  i.fa.fa-comment
                  | عدد الإجابات: 2500
              a.item-search(href="#")
                h3.title
                  i.fa.fa-question-circle
                  | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة
                p.meta
                  i.fa.fa-comment
                  | عدد الإجابات: 2500
              a.item-search(href="#")
                h3.title
                  i.fa.fa-search
                  | المزيد من النتائج
            #pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
              .users-results
                .row
                  .col-sm-3.p-0
                    a.user-search-result.center(href="#")
                      img(src="img/user3.png", alt="")
                      h3.title
                        | عبد الله الهادي
                  .col-sm-3.p-0
                    a.user-search-result.center(href="#")
                      img(src="img/user3.png", alt="")
                      h3.title
                        | عبد الله الهادي
                  .col-sm-3.p-0
                    a.user-search-result.center(href="#")
                      img(src="img/user3.png", alt="")
                      h3.title
                        | عبد الله الهادي
                  .col-sm-3.p-0
                    a.user-search-result.center(href="#")
                      img(src="img/user3.png", alt="")
                      h3.title
                        | عبد الله الهادي
            #pills-contact.tab-pane.fade(role='tabpanel', aria-labelledby='pills-contact-tab')
              .users-results
                .row
                  .col-sm-3.p-0
                    a.user-search-result.center(href="#")
                      img(src="img/user3.png", alt="")
                      h3.title
                        | عبد الله الهادي
                  .col-sm-3.p-0
                    a.user-search-result.center(href="#")
                      img(src="img/user3.png", alt="")
                      h3.title
                        | عبد الله الهادي
                  .col-sm-3.p-0
                    a.user-search-result.center(href="#")
                      img(src="img/user3.png", alt="")
                      h3.title
                        | عبد الله الهادي
                  .col-sm-3.p-0
                    a.user-search-result.center(href="#")
                      img(src="img/user3.png", alt="")
                      h3.title
                        | عبد الله الهادي         
    ul.navbar-nav.mr-auto
      li.nav-item.dropdown.right-nav-item
        a.nav-link.dropdown-toggle.mt-2(href='login.php', id="createdropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false").pt-1
          i.flaticon-plus
        .dropdown-menu.create-box(aria-labelledby='createdropdown')
          .create-box-inner
            img.trick(src='img/trick.png', alt='')
            .row
              .col-6.p-0
                a(href="#").create-item
                  i.flaticon-post-it
                  p.text
                    | إضافة سؤال
              .col-6.p-0
                a(href="#").create-item
                  i.flaticon-writing
                  p.text
                    | إضافة مجتمع
      li.nav-item.dropdown.right-nav-item
        a.nav-link(href='login.php', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
          i.flaticon-notification
        .dropdown-menu.notify-menu.notification-list
          .drop-header
            h3.drop-title 
              i.flaticon-notification 
              | الإشعارات
          .drop-content
            
            ul.menu-list-items.menu-list-notification
              li
                a(href='#')
                  span
                    img(src='img/user3.jpg')
                  span
                    | لقد قام 
                    strong عبد الله الهادي
                    |  نبضة لمقالك 
                    strong ماهو الفرق بين واجهة المستخدم

                  span.noty-time
                    | 
                    span.notify-time
                      i.fa.fa-clock
                      |  منذ 5 دقائق

                  span.noty-icon
                    span.notify-icon.notify-icon-heart
                    i.fa.fa-heart
              li
                a(href='#')
                  span
                    img(src='img/user3.png')
                  span
                    | لقد قام 
                    strong عبد الله الهادي
                    |  نبضة لمقالك 
                    strong ماهو الفرق بين واجهة المستخدم

                  span.noty-time
                    | 
                    span.notify-time
                      i.fa.fa-clock
                      |  منذ 5 دقائق

                  span.noty-icon
                    span.notify-icon.notify-icon-heart
                    i.fa.fa-comment
              li
                a(href='#')
                  span
                    img(src='img/user2.png')
                  span
                    | لقد قام 
                    strong عبد الله الهادي
                    |  نبضة لمقالك 
                    strong ماهو الفرق بين واجهة المستخدم

                  span.noty-time
                    | 
                    span.notify-time
                      i.fa.fa-clock
                      |  منذ 5 دقائق

                  span.noty-icon
                    span.notify-icon.notify-icon-heart
                    i.fa.fa-rss
              li
                a(href='#')
                  span
                    img(src='img/user3.jpg')
                  span
                    | لقد قام 
                    strong عبد الله الهادي
                    |  نبضة لمقالك 
                    strong ماهو الفرق بين واجهة المستخدم

                  span.noty-time
                    | 
                    span.notify-time
                      i.fa.fa-clock
                      |  منذ 5 دقائق

                  span.noty-icon
                    span.notify-icon.notify-icon-heart
                    i.fa.fa-comment

            a.see-all-link(href='#') كل الإشعارات...
      li.nav-item.dropdown.right-nav-item
        a.nav-link(href='create.php', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
          i.flaticon-user
          span
            |  عبد الحميد بومقواس
        .dropdown-menu.notify-menu.user-menu
          .drop-content
            img.trick(src='img/trick.png', alt='')
            ul.menu-list-items
              li
                a(href='#')
                  i.flaticon-user-1
                  |  الصفحة الشخصية
              li
                a(href='#')
                  i.flaticon-settings
                  |  الإعدادات
              li
                a(href='#')
                  i.flaticon-logout
                  |  تسجيل الخروج

span.btn-scroll-top
  i.fa.fa-angle-up