.site-grid-8.toggle-sidebar-aside
  // Content Area
  .ithoub-content.pt-5.mt-3
    h3.sidebar-title
      i.flaticon-menu
      |  منتجات #{pagetitle}
      a.tool-btn-more(href='#')
        i.flaticon-more
    
    .row
      .col-md-4.platform-item-parent
        a.platform-item(href="#")
          img(src="img/sc_ic.png", alt="")
          .platform-item-cont
            h3.platform-item-title
              | الربيدة
            p.platform-item-meta
              | السلام عليكم ورحمة الله تعالى وبركاته
      .col-md-4.platform-item-parent
        a.platform-item(href="#")
          img(src="img/hr_ic.png", alt="")
          .platform-item-cont
            h3.platform-item-title
              | الربيدة
            p.platform-item-meta
              | السلام عليكم ورحمة الله تعالى وبركاته
      .col-md-4.platform-item-parent
        a.platform-item(href="#")
          img(src="img/rbd_ic.png", alt="")
          .platform-item-cont
            h3.platform-item-title
              | الربيدة
            p.platform-item-meta
              | السلام عليكم ورحمة الله تعالى وبركاته