.auth-content.login-content
    form(action="", method="post")
      .profile-about.panel-box.main
        .panel-alert.green
          p.text
            i.flaticon-checked
            strong تحذير: 
            | لا يمكنك يغيير كنك يغيير هذه المعلومات أبدا
        .content-panel
          .row.pt-2.pb-2
            .col-xs-3.p-0.center
              .form-logo.pl-3
                img(src="img/logo.png", alt="")
            .col-xs-8.p-0
              h4.form-title.large
                i.flaticon-lock 
                | تسجيل الدخول 
              .form-description
                .text 
                  | لا يمكنك يغيير هذه المعلومات أبدا
          hr
          .form-group
              label(for="user_lname", class="form-inp-label") اسم المستخدم
              input.form-inp#user_lname(type="text", placeholder="اسم العائلة", name="user_lname")
          .form-group
              label.form-inp-label(for="user_pass") كلمة المرور
              .position-relative              
                .alrt-err 
                  i.flaticon2-error
                  | اسم المستخدم غير صحيح
                input.form-inp#user_pass(type="text", placeholder="كلمة المرور", name="user_pass")
          .form-group.form-footer.center
            button.btn.btn-ithoub.but-md(type="submit")
              i.flaticon-lock
              | دخول
            a.link(href="#") نسيت كلمة المرور؟
            span.or
              | | أو قم
            a.link(href="#") بالتسجيل
            
          hr
          .form-group.form-social.center
            h4.or أو قم بتسجيل الدخول بواسطة: 
            ul.nav.justify-content-center.pr-0
              li.nav-item
                a.btn.btn-blue(href="#")
                    i.icon.facebook
                    span
                      | فيسبوك
              li.nav-item
                a.btn.btn-red(href="#")
                    i.icon.google
                    span
                      | غوغل