.site-grid-8.toggle-sidebar-aside
  .profile-container
    .cover-profile.p-3(style="background-image: url('img/3293c688707567.5dde6a36274b8.png')")
      .img-profile(style="background-image: url('img/madf3366.png')")
      .profile-content
        h3.profile-fullname
          | عبد الله الهادي
        p.profile-meta
          i.fa.fa-map-marker-alt 
          | الجزائر, دار الشيوخ
    
    .row
      .col-md-8.p-0.pl-2
        .profile-about.panel-box.main
          .profile-about-head.head-panel
             span.button.btnSetting
                i.flaticon-edit-1
             h2.panel-title
               i.flaticon-user 
               | المعلومات الشخصية
          .profile-about-content.content-panel
             .spinner
                .bounce1
                .bounce2
                .bounce3
             .about-text
               h2.heading
                | عن المستخدم
               p.text
                | قصة علاء الدين والمصباح السحري. قصة السندباد البحري. أجمل القصص القصيرة. قصص أطفال. أنواع القصص. قصة فيها حكمة. رواية رجال في الشمس. ما قصة كذبة نيسان
             table.table
               tbody
                 tr
                   th(scope="row") الاسم واللقب
                   td عبد الله الهادي
                 tr
                   th(scope="row") تاريخ الميلاد
                   td 15/02/1988
                 tr
                   th(scope="row") الاسم واللقب
                   td عبد الله الهادي
                 tr
                   th(scope="row") الاسم واللقب
                   td عبد الله الهادي
      .col-md-4.p-0
        .profile-raiting.panel-box.main
           .head-panel
             h2.panel-title
               i.flaticon-star 
               | نقاط السمعة
           .content-panel
             .profile-raiting-cont
                h1.profile-raiting-number
                 | 2500
                p.profile-raiting-text
                  | نقطة
        .profile-social.panel-box.main
           .head-panel
             h2.panel-title
               i.flaticon-shuffle 
               | معلومات الاتصال
           .content-panel
             .profile-social-cont
               ul.social-nav.nav.justify-content-center
                 li
                   a(href="#", targe="_blank")
                     i.flaticon-facebook-logo-in-circular-button-outlined-social-symbol
                 li
                   a(href="#", targe="_blank")
                     i.flaticon-twitter-circular-button
                 li
                   a(href="#", targe="_blank")
                     i.flaticon-linkedin
                 li
                   a(href="#", targe="_blank")
                     i.flaticon-pinterest-social-visual-website-logotype