.site-grid-8.toggle-sidebar-aside
  .profile-container
    .profile-about.panel-box.main
      .profile-about-head.head-panel
        h2.panel-title
            i.flaticon-user 
            | المعلومات الشخصية
      .profile-about-content.content-panel
        .form-description.center
          .text 
            | لا يمكنك يغيير هذه المعلومات أبدا
        .spinner
          .bounce1
          .bounce2
          .bounce3
        .center.p-4
          .update-avatar
            img(src="img/madf3366.png", alt="")
          .update-btn
            a.btn.but-sm.btn-default(href="#")
              i.flaticon-photo-camera
              | تغيير الصورة
        .row
          .col-md-6
            .form-group
              label.form-inp-label(for="user_fname") الاسم الأول
              input.form-inp#user_fname(type="text", placeholder="الاسم الأول", name="user_fname", autocomplete="off")
          .col-md-6
            .form-group
              label(for="user_lname", class="form-inp-label") اسم العائلة
              input.form-inp#user_lname(type="text", placeholder="اسم العائلة", name="user_lname")
        .row 
          .col-md-6
            .form-group
              label.form-inp-label(for="user_fname") تاريخ الميلاد
              input.form-inp(type="text", placeholder="الاسم الأول", id="user_fname", name="user_fname", autocomplete="off")
          .col-md-6
            .form-group
              label.form-inp-label(for="user_sex") الجنس
              select.form-inp#user_sex(name="user_sex")
                option(value="") اختر الجنس
                option(value="0") أنثى
                option(value="1") ذكر
        .row 
          .col-md-6
            .form-group
              label.form-inp-label(for="user_country") البلد
              input.form-inp#user_country(type="text", placeholder="الاسم الأول", name="user_country", autocomplete="off")

        .form-note
          .text 
            strong ملاحظة: 
            | لا يمكنك يغيير هذه المعلومات أبدا
        .form-btn-submit.center
          .btn.but-md.btn-ithoub
            i.flaticon-save-1
            | حفظ التغييرات
