.site-grid-2.sidebar-side.toggle-sidebar-aside
  .ithoub-sidebar
    .ithoub-sidebar-inner
      .ithoub-user-info
        .ithoub-user-avatar
          img(src='img/abdellah.png', alt='')
        .ithoub-user-content
          h3.user-title عبد الحميد بومقواس
          p.user-mata @aboumegouass
      .list-sidebar.position-sticky
        a.link-item.active(href='index.html')
          i.flaticon-house
          |  الرئيسية

        h3.sidebar-title.has-menu#profile-list-btn
          i.flaticon-user
          |  الصفحة الشخصية
          i.fa.fa-caret-down.mr-2.arrow-menu
        .sub-menu#profile-list
          a.sub-item(href='profile.html')
            i.flaticon-user
            |  حول المستخدم
          a.sub-item(href='rabidas_list.html')
            i.flaticon-folder-2
            |  الربائد 
          a.sub-item(href='articles_list.html')
            i.flaticon-reading
            |  المقالات المضافة
          a.sub-item(href='posts_list.html')
            i.flaticon-menu
            |  مواضيع المجتمع

        h3.sidebar-title.has-menu#myrabida-list-btn
          i.flaticon-settings-1
          |  الإعدادات 
          i.fa.fa-caret-down.mr-2.arrow-menu
        .sub-menu#myrabida-list
          a.sub-item(href='settings.html')
            i.flaticon-document
            |  تعديل المعلومات الشخصية
          a.sub-item(href='')
            i.flaticon-document
            |  إعادة تعيين كلمة المرور
          a.sub-item(href='')
            i.flaticon-document
            |  إعادة تعيين اسم المستخدم
          a.sub-item(href='')
            i.flaticon-document
            |  تأكيد الهوية
        a.link-item(href='')
          i.flaticon-settings-1
          |  سياسة الخصوصية
        a.link-item(href='')
          i.flaticon-settings-1
          |  شروط الإستخدام
        
        .sidebar-footer
          p.copy-text
            | &copy; جميع الحقوق محفوظة لدى #{pagetitle} 2020