.site-grid-2
  .ithoub-sub-sidebar
    h3.sidebar-title
      i.flaticon-user
      |  أفضل المستخدمين
    a(href="#").rbd-list-sidebar
      .rbd-item
        img(src='img/madf3366.png', alt='')
        h3.rbd-title مستخدم جديد
        ul.rbd-meta
          li.meta-data
            i.flaticon-chat
            |  عامة
    a(href="#").rbd-list-sidebar
      .rbd-item
        img(src='img/user3.png', alt='')
        h3.rbd-title عبد الله الهادي
        ul.rbd-meta
          li.meta-data
            i.flaticon-chat
            |  عامة
    a(href="#").rbd-list-sidebar
      .rbd-item
        img(src='img/user3.jpg', alt='')
        h3.rbd-title عبد المحسن ماضي
        ul.rbd-meta
          li.meta-data
            i.flaticon-chat
            |  عامة
    a(href="#").rbd-list-sidebar
      .rbd-item
        img(src='img/user2.png', alt='')
        h3.rbd-title عبد الحميد بومقواس
        ul.rbd-meta
          li.meta-data
            i.flaticon-chat
            |  عامة