.site-grid-2
  .ithoub-sub-sidebar
    h3.sidebar-title
      i.flaticon-folder-4 
      |  الربائد المقترحة
    .rbd-list-sidebar
      .rbd-item
        img(src='img/it_ic.png', alt='')
        h3.rbd-title ربيدة الطائر الجارح
        ul.rbd-meta
          li.meta-data
            i.flaticon-list
            |  15,360
          li.meta-data
            i.flaticon-study
            |  15,360
          li.meta-data
            i.flaticon-tag-1
            |  عامة
    .rbd-list-sidebar
      .rbd-item
        img(src='img/naqr_icx.png', alt='')
        h3.rbd-title ربيدة الطائر الجارح
        ul.rbd-meta
          li.meta-data
            i.flaticon-list
            |  15,360
          li.meta-data
            i.flaticon-study
            |  15,360
          li.meta-data
            i.flaticon-tag-1
            |  عامة
    .rbd-list-sidebar
      .rbd-item
        img(src='img/rbd_icx.png', alt='')
        h3.rbd-title ربيدة الطائر الجارح
        ul.rbd-meta
          li.meta-data
            i.flaticon-list
            |  15,360
          li.meta-data
            i.flaticon-study
            |  15,360
          li.meta-data
            i.flaticon-tag-1
            |  عامة
    .rbd-list-sidebar
      .rbd-item
        img(src='img/dv_icx.png', alt='')
        h3.rbd-title ربيدة الطائر الجارح
        ul.rbd-meta
          li.meta-data
            i.flaticon-list
            |  15,360
          li.meta-data
            i.flaticon-study
            |  15,360
          li.meta-data
            i.flaticon-tag-1
            |  عامة