.ithoub-sub-sidebar
  .inner-sub-sidebar
    .top-4-users
      h3.sidebar-title
        i.flaticon-monitor
        | لغات البرمجة
      .user-programing
        a.user-code(href="") HTML
        a.user-code(href="") C#
        a.user-code(href="") PHP
        a.user-code(href="") C++
        a.user-code(href="") JavaScript
        a.user-code(href="") Ruby
    .top-4-users
      h3.sidebar-title
        i.flaticon-user
        |  نقاط السمعة

    .user-status
      .row
        .col-6.p-0
          .user-status-item
            img(src="img/check-icon.png", alt="")
            p.meta
              |  الأجوبة الصحيحة
            h2.title-status
              | 200
        .col-6.p-0
          .user-status-item
            img(src="img/win-icon.png", alt="")
            p.meta
              |  الأسئلة الصحيحة
            h2.title-status
              | 154
    .top-4-users
      h3.sidebar-title
        i.flaticon-user
        | المعلومات الشخصية
    .user-profile
      table.table
        tbody
          tr
            th(scope='row') البلد
            td الجزائر
          tr
            th(scope='row') تاريخ الميلاد
            td 19-03-1989
          tr
            th(scope='row') الجنس
            td ذكر
