.ithoub-sub-sidebar
  .inner-sub-sidebar
    .top-4-users
      h3.sidebar-title
        i.flaticon-user
        |  نقاط السمعة

    .user-status
      .row
        .col-6.p-0
          .user-status-item
            img(src="img/check-icon.png", alt="")
            p.meta
              |  الأجوبة الصحيحة
            h2.title-status
              | 200
        .col-6.p-0
          .user-status-item
            img(src="img/win-icon.png", alt="")
            p.meta
              |  الأسئلة الصحيحة
            h2.title-status
              | 154
      