.footer-accounts
  .copy-text.center
    | &copy; جميع الحقوق محفوظة لدى إثراء العربي 2020
  .nav.justify-content-center.pr-0
    li.nav-item
      a.nav-link(href="#")
        | الرئيسية
    li.nav-item
      a.nav-link(href="#")
        | سياسة الخصوصية
    li.nav-item
      a.nav-link(href="#")
        | حول الموقع
    li.nav-item
      a.nav-link(href="#")
        | شروط الإستخدام
    li.nav-item
      a.nav-link(href="#")
        | اتصل بنا
