// Navbar Area
nav.navbar.navbar-expand-xl.navbar-light.bg-white.sub-navbar
  ul.navbar-nav.pr-md-2
    li.nav-item.dropdown.right-nav-item
        a.nav-link#dropdownMenuOption(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
          i.flaticon-settings
          span
            |  خيارات...
        .dropdown-menu.options-drop(aria-labelledby='dropdownMenuOption')
          .drop-content
            img.trick(src='img/trick.png', alt='')
            ul.menu-list-items
              li
                a(href='#')
                  i.flaticon-user-1
                  |  الصفحة الشخصية
              li
                a(href='#')
                  i.flaticon-settings
                  |  الإعدادات
              li
                a(href='#')
                  i.flaticon-logout
                  |  تسجيل الخروج
  ul.navbar-nav.mr-auto.pl-md-2
    li.nav-item.ml-1.left-button
      a.btn.btn-prim-out.but-sm(href="#")
        i.fa.fa-rss
        span
            |  متابعة المجتمع
    li.nav-item.ml-1.left-button
      a.btn.btn-prim.but-sm(href="#")
        i.fa.fa-plus-circle
        span
            |  إضافة سؤال
    li.nav-item.left-sidebar-toggle.left-button
      a.left-sidebar-toggle-btn.nav-link(href="#")
        i.flaticon-menu