// Navbar Area
nav.navbar.navbar-expand-xl.navbar-light.bg-white.sub-navbar
  ul.navbar-nav
    li.nav-item
      a.nav-link.active(href='settings.html')
        |  الأكثر شعبية
    li.nav-item
      a.nav-link(href='reset.html')
        |  الأكثر تقييما
    li.nav-item
      a.nav-link(href='identify.html')
        |  الأحدث
    li.nav-item
      a.nav-link(href='identify.html')
        |  الغير مجاب عنها