// Navbar Area
nav.navbar.navbar-expand-xl.navbar-light.bg-white.sub-navbar
  ul.navbar-nav
    li.nav-item.active
      a.nav-link(href='profile.html')
        |  مجتمع لارافال Laravel
    li.nav-item
      a.nav-link(href='rabidas_list.html')
        i.flaticon-folder-2
        |  الربائد 
  ul.navbar-nav.mr-auto
    li.nav-item.ml-2
      a.btn.btn-prim-out.but-sm(href="#")
        |  متابعة السؤال
    li.nav-item.ml-4
      a.btn.btn-prim.but-sm(href="#")
        |  إضافة جواب
