// Navbar Area
nav.navbar.navbar-expand-xl.navbar-light.bg-white.sub-navbar
  ul.navbar-nav
    li.nav-item.active
      a.nav-link(href='profile.html')
        i.flaticon-user
        |  حول المستخدم
    li.nav-item
      a.nav-link(href='rabidas_list.html')
        i.flaticon-folder-2
        |  الربائد 
    li.nav-item
      a.nav-link(href='articles_list.html')
        i.flaticon-reading
        |  المقالات المضافة
    li.nav-item
      a.nav-link(href='posts_list.html')
        i.flaticon-menu
        |  مواضيع المجتمع
