// Navbar Area
nav.navbar.navbar-expand-xl.navbar-light.bg-white.sub-navbar
  ul.navbar-nav
    li.nav-item.active
      a.nav-link(href='settings.html')
        i.flaticon-edit-2
        |  تعديل المعلومات
    li.nav-item
      a.nav-link(href='reset.html')
        i.flaticon-padlock
        |  إعادة تعيين كلمة المرور
    li.nav-item
      a.nav-link(href='identify.html')
        i.flaticon-sticker
        |  تأكيد الهوية