<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/styles
        script(src="js/vue.min.js")
    body
        .page
            include pug/layout/header
            include pug/layout/sub-nav/profile
            
            .site-row
                include pug/layout/sidebar
                .site-grid-8.toggle-sidebar-aside.pb-5
                    include pug/components/post_row
                include pug/layout/subsidebar
            
        include pug/layout/scripts