<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/styles
        script(src="js/vue.min.js")
    body
        include pug/layout/header_guest
        .site-row
            include pug/layout/sidebar_guest
            .site-grid-10.toggle-sidebar-aside
                
                include pug/layout/sub-nav/filter_tools
                .devfor-content
                    include pug/components/post_row
                    include pug/components/post_row
                    .owl-carousel.commun-carousel.pr-3.pl-3(dir="ltr")
                        include pug/components/community
                        include pug/components/community
                        include pug/components/community
                        include pug/components/community
                        include pug/components/community
                    .center.load-more.py-4
                        button.btn.but-sm.btn-prim
                            | تحميل المزيد
                        button.btn.but-sm.btn-prim(type='button', disabled='')
                            span.spinner-border.spinner-border-sm(role='status', aria-hidden='true')
                include pug/layout/subsidebar

        include pug/layout/scripts