<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/styles
        script(src="js/vue.min.js")
    body
        include pug/layout/header_guest
        .site-row
            include pug/layout/sidebar_guest
            .site-grid-10.toggle-sidebar-aside
                include pug/layout/sub-nav/profile_tools
                .devfor-content
                    .cover-community(style="background-image: url('img/bg.png')")
                        img.communt-img(src="img/user3.png", alt="")
                        h3.title
                            | الهادي محمد الجقلوف
                        p.meta(dir="ltr")
                            | @mohammed2008
                    .panel-alert.green.mr-md-4.ml-md-4.mb-2
                        p.text
                            i.flaticon-checked
                            | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة
                    .panel-alert.orange.mr-md-4.ml-md-4.mb-2
                        p.text
                            i.flaticon-sticker
                            | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة
                    .panel-alert.red.mr-md-4.ml-md-4
                        p.text
                            i.flaticon-cancel
                            | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة
                    .alert-popup
                        .alert-title
                           i.flaticon-cancel
                           | لايمكنك التقييم
                        .text
                           | لايمكنك التقييم يجب تسجيل الدخول
                            
                    include pug/components/post_row
                    include pug/components/post_row
                include pug/layout/subsidebar_profile

        include pug/layout/scripts