.post-row {
    background-color: #fff;
    margin: 20px;
    //width: calc(100% - 285px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    -ms-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    border-radius: 7px;
    border: 1px solid #f1f1f1;
    &:first-of-type {
        margin-top: 60px;
    }
    .header-post {
        padding: 20px 15px;
        position: relative;
        border-bottom: 1px solid #f1f1f1;
        .answered-icon {
            position: absolute;
            left: 15px;
            top: 18px;
            [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
            [class^="flaticon-"]:after, [class*=" flaticon-"]:after, 
            [class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
            [class^="flaticon2-"]:after, [class*=" flaticon2-"]:after {
                font-size: 33px;
                color: $green;
            }
        }
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            float: right;
            margin-left: 7px;
        }
        .title {
            margin: 0;
            font-size: 16px;
            color: #999;
            a {
                color: #555;
                margin-left: 6px;
                &.comm-post {
                    color: #777;
                    margin-right: 6px;
                }
                &:hover {
                    color: $primary;
                }
            }
        }
        .meta {
            li {
                color: #777;
                font-size: 12px;
                float: right;
                list-style: none;
                border-left: 1px solid #f7f7f7;
                padding: 3px 4px;
                &:last-child {
                    border-left: 0;
                }
            }
            [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
            [class^="flaticon-"]:after, [class*=" flaticon-"]:after, 
            [class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
            [class^="flaticon2-"]:after, [class*=" flaticon2-"]:after {
                font-size: 12px;
            }
        }
    }
    .content-post {
        padding: 20px;
        padding-bottom: 10px;
        .raiting-votes {
            padding-top: 0;
            font-size: 32px;
            color: #777;
            .rate {
                border: 0;
                color: #777;
                outline: none;
                background-color: #fff;
                &:hover {
                    color: $primary;
                }
                i {
                    &.fa-angle-up {
                        margin-top: -7px;
                    }
                    
                }
            }
            .votes-num {
                margin: 0;
                color: #777;
                font-size: 16px;
            }
        }
        .communt-parent {
            margin: 0;
            font-size: 14px;
            color: #777;
            a {
                display: inline-block;
                color: #777;
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-left: 7px;
                }
                &:hover {
                    color: $primary;
                }
            }
        }
        .post-title {
            margin: 10px 0;
            line-height: 36px;
            font-size: 20px;
            a {
                color: #555;
                &:hover {
                    color: $primary;
                }
            }
        }
        .skills-tag {
            padding-right: 0;
            > .nav-item {
                > .nav-link {
                    background: #eee;
                    border-radius: 3px 0 0 3px;
                    color: #999;
                    display: inline-block;
                    height: 26px;
                    line-height: 26px;
                    font-size: 13px;
                    padding: 0 20px 0 23px;
                    position: relative;
                    margin: 0 10px 10px 0;
                    text-decoration: none;
                    -webkit-transition: color 0.2s;
                      
                      &::before {
                        background: #fff;
                        border-radius: 10px;
                        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
                        content: '';
                        height: 6px;
                        right: 10px;
                        position: absolute;
                        width: 6px;
                        top: 10px;
                      }
                      
                      &::after {
                        background: #fff;
                        border-bottom: 13px solid transparent;
                        border-right: 10px solid #eee;
                        border-top: 13px solid transparent;
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                      }
                      
                      &:hover {
                        background-color: $primary;
                        color: white;
                      }
                      
                      &:hover::after {
                         border-right-color: $primary;
                      }
                }
                &.communt-parent {
                    > .nav-link {
                        color: #777;
                        font-size: 13px;
                        background-color: #fff;
                        padding-top: 0;
                        transition: all 300ms;
                        &:hover {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        margin: 15px 0;
        box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        -moz-box-shadow: none;
        border-radius: 0;
        width: 100%;
        .content-post {
            padding: 20px;
            padding-bottom: 10px;
            .raiting-votes {
                font-size: 32px;
                .votes-num {
                    font-size: 16px;
                }
            }
            .post-title {
                margin: 10px 0;
                line-height: 36px;
            }
        }
    }

    @media (max-width: 600px) {

        .content-post {
            .raiting-votes {
                font-size: 32px;
                margin-left: 55px;
                .votes-num {
                    font-size: 16px;
                }
            }
            .post-title {
                line-height: 33px;
                font-size: 21px;
            }
            .communt-parent, .post-title, .skills-tag {
                margin-right: 25px;
            }
        }
    }
    .footer-post {
        padding: 15px 20px;
        border-top: 1px solid #f1f1f1;
        .nav {
            padding-right: 0;
            > .nav-item {
                > .nav-link {
                    color: #777;
                    &:hover {
                        color: $primary;
                    }
                    &.read-more {
                        color: $primary;
                        font-size: 13px;
                        i.fa-circle {
                            margin-top: 15px;
                            margin: 0 2px;
                        } 
                    }
                }
            }
        }
    }
}