.article-row.answer-row
   .row
      .col-lg-1.col-2.p-0
        .article-rate
          button.btn.up
            i.fa.fa-angle-up
          p.rate-num
            | 250
          button.btn.down
            i.fa.fa-angle-down
      .col-lg-11.col-10.p-0
        .post-head
          img(src="img/user2.png", alt="")
          .post-user
            a(href="")
              | عبد الحميد بومقواس 
          .post-time
            i.flaticon-clock
            | منذ يومين
          .post-answer-verifed
            p.icon(data-toggle="tooltip", title="هذا السؤال مجاب عليه")
              i.flaticon-checked
        .post-body
          h4.title
            a(href="single_post.html")
              | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة