.community-post.center
    .community-head(style="background-image: url('img/3293c688707567.5dde6a36274b8.png')")
        img(src="img/it_ic.png", alt="")
    .community-body
        h4.title
            a(href="community_page.html")
                | مجتمع لارافال Laravel
        p.meta
            i.fa.fa-rss
            | 200
            |
            i.fa.fa-question-circle
            | 2500
        .buttons
            button.btn.but-sm.btn-default
                | متابعة