.notification_row
    .notification-title
        h3.title
            i.flaticon-notification
            | الإشعارات
    .notification-item
        .notifi-profile-img
          img(src='img/user3.jpg')
        .notifi-content
            | لقد قام 
            strong عبد الله الهادي
            |  نبضة لمقالك 
            strong ماهو الفرق بين واجهة المستخدم
        .notifi-time
          | 
          span.notify-time
            i.fa.fa-clock
            |  منذ 5 دقائق
        .notifi-icon
            span.notify-icon.notify-icon-heart
            i.fa.fa-rss
        .notifi-unread-btn
            i.fa.fa-circle
    .notification-item.is-unread
        .notifi-profile-img
          img(src='img/user3.jpg')
        .notifi-content
            | لقد قام 
            strong عبد الله الهادي
            |  نبضة لمقالك 
            strong ماهو الفرق بين واجهة المستخدم
        .notifi-time
          | 
          span.notify-time
            i.fa.fa-clock
            |  منذ 5 دقائق
        .notifi-icon
            span.notify-icon.notify-icon-heart
            i.fa.fa-comment
        .notifi-unread-btn.toggle-btn
            i.fa.fa-circle
    .notification-item
        .notifi-profile-img
          img(src='img/user3.jpg')
        .notifi-content
            | لقد قام 
            strong عبد الله الهادي
            |  نبضة لمقالك 
            strong ماهو الفرق بين واجهة المستخدم
        .notifi-time
          | 
          span.notify-time
            i.fa.fa-clock
            |  منذ 5 دقائق
        .notifi-icon
            span.notify-icon.notify-icon-heart
            i.fa.fa-heart
        .notifi-unread-btn
            i.fa.fa-circle
    .notification-item
        .notifi-profile-img
          img(src='img/user3.jpg')
        .notifi-content
            | لقد قام 
            strong عبد الله الهادي
            |  نبضة لمقالك 
            strong ماهو الفرق بين واجهة المستخدم
        .notifi-time
          | 
          span.notify-time
            i.fa.fa-clock
            |  منذ 5 دقائق
        .notifi-icon
            span.notify-icon.notify-icon-heart
            i.fa.fa-heart
        .notifi-unread-btn
            i.fa.fa-circle