.post-row
    .header-post
        img(src="img/user3.png", alt="")
        h4.title
            a(href="")
                | بومقواس عبد الحميد
        p.meta
            i.flaticon-clock
            | منذ نصف ساعة
        .answered-icon
            i.flaticon-checked
    .content-post
        .row
            .col-1.p-0
                .raiting-votes.center
                    button.rate.rate-up
                        i.fa.fa-angle-up
                    p.votes-num
                        | 208
                    button.rate.rate-down
                        i.fa.fa-angle-down
            .col-11.p-0
                p.communt-parent
                    a(href="community_page.html")
                        img(src="img/naqr_icx.png", alt="")
                        | مجتمع ال CSS & HTML
                h4.post-title
                    a(href="singlepage.html")
                        | كيفاه نبيراتي الموقع نتاع النازا بواسطة HTML كيفاه نبيراتي الموقع نتاع النازا بواسطة HTML

                ul.nav.skills-tag
                    li.nav-item
                        a.nav-link(href="#")
                            | HTML
                    li.nav-item
                        a.nav-link(href="#")
                            | CSS3
                    li.nav-item
                        a.nav-link(href="#")
                            | PHP
                    li.nav-item
                        a.nav-link(href="#")
                            | Laravel
    .footer-post
        ul.nav
            li.nav-item
                a.nav-link(href="#")
                    i.flaticon-chat
                    | 2056
            li.nav-item
                a.nav-link(href="#")
                    i.flaticon-reading
                    | 9834
            li.nav-item.mr-auto
                a.nav-link.read-more(href="#")
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle