.post-row
    .header-post
        img(src="img/user3.png", alt="")
        h4.title
            a(href="")
                | بومقواس عبد الحميد
        p.meta
            i.flaticon-clock
            | منذ نصف ساعة
        .answered-icon
            i.flaticon-checked
    .content-post
        .row
            .col-2.p-0
            .col-10.p-0