.reply-to-answer
    .row
        .col-3.p-0
            .reply-head.center
                img(src="img/madf3366.png", alt="")
                h4.title
                    | عبد الله الهادي
                p.meta
                    | عضو مميز
        .col-9.p-0
            ul.nav.reply-tools.justify-content-end
                li.nav-item
                    a.nav-link(href="#")
                        i.flaticon-heart
                li.nav-item
                    a.nav-link(href="#")
                        i.flaticon-edit
                li.nav-item
                    a.nav-link(href="#")
                        i.flaticon2-trash
            p.reply-text
                | إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.

