.single-page.answer-content.p-3.bg-white
    .single-head-top
        img(src="img/madf3366.png", alt="")
        h4.title
            | بومقواس عبد الحميد
        p.meta
            i.flaticon-clock
            | ضالها نصف ساعة
        .answered-icon
            i.flaticon-checked
    .single-content
        .row
            .col-2.p-0
                .raiting-votes.center
                    button.rate.rate-up
                        i.fa.fa-angle-up
                    p.votes-num
                        | 208
                    button.rate.rate-down
                        i.fa.fa-angle-down
                .reply-button.center
                    a.btn.btn-prim.btn-block.but-sm(href="#")
                        i.fa.fa-reply 
                        | رد
            .col-10.p-0
                ul.nav.meta-info
                    li.nav-item
                        a.nav-link(href="#")
                            i.flaticon-clock
                            | 2100
                h3.single-title
                    | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد
        p.single-text
            | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
        pre.line-numbers(dir="ltr")
            code(class="language-css")
                |p {
                |    color: red 
                | }
    hr
    include reply_to_answer
    include reply_to_answer
    include reply_to_answer